github "ismycho/myCocoaAsyncSocket" ~> 1.0.4
github "ismycho/CocoaLumberjack" ~> 1.1.2
github "ismycho/MMDB" "0.5.6"
github "zhuhaow/Sodium-framework" "v1.0.10.1"
github "ismycho/YamlSwift" "1.0.1"
github "ismycho/mytun2socks" ~> 1.0.0
github "zhuhaow/Resolver" ~> 0.2.0
